.swiper{
    padding: 32px;
    padding-bottom: 90px;
}

.swiper-slide{
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet-active{
    background-color: #FD5056;
}

.swiper-button-prev{
    color: #718096;
}

.swiper-button-next{
    color: #718096;
}