.containerMain{
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
}

.containerRight{
    
    width: 450px;
}

.priceBox{
    background-color: #F7F8FA;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.perPerson{
    border-bottom: 1px solid #E8E7EC;
    padding-bottom: 0.4rem;
}

.perPerson p{
    color: #000;
    font-size: 1.1rem;
}

.perPerson p span{
    font-size: 1.5rem;
    font-weight: 700;
}

.dateTimeSection{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.dateTimeSection label{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
}

.dateTimeSection input, .dateTimeSection select{
    width: 100%;
    padding-left: 0.3rem;
    height: 3rem;
    font-size: 1rem;
    border: none;
}

.ticketSection{
    padding-top: 1rem;
    border-bottom: 1px solid #E8E7EC;
}

.ticketLabel{
    padding-bottom: 1rem;
}

.ticketLabel p{
    font-size: 1.2rem;
    font-weight: 600;
}

.ticketTier{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.priceButtons button{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    background-color: #F7F8FA;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    font-size: 1.1rem;
    border: 1px solid lightgray;
    font-weight: 600;
    cursor: pointer;
}

.totalSection{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.totalPrice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.totalPrice span{
    font-size: 1.3rem;
    color: #FD5056;
    font-weight: 700;
}

.bookNow{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.bookNow button{
    width: 100%;
    color: #fff;
    background-color: #FD5056;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1.1rem;
    padding: 0.8rem;
}

.bookNow button:hover{
    background-color: #dd484d;
}

.containerLeft{
    width: 900px;
    padding-right: 2rem;
}

.containerLeft img{
    width: 100%;
    height: 450px;
}

.imageContainer {
    position: relative;
}
  
.textOverlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px; 
    padding: 5px 10px;
    border-radius: 5px;
}
  
.textIconOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 0.9rem;
    margin-right: 0.3rem;
    background-color: #fff;
    padding: 0.5rem; 
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.2rem;
}
  
.textIconOverlay span {
    margin-right: 5px;
}
  
.textIconOverlay i {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding-left: 0.2rem;
    font-weight: 500;
 }

.imageSubtitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.4rem;
    font-size: 1.2rem;
    align-items: center;
}

.imageSubtitleLeft{
    display: flex;
    flex-direction: row;
}

.imageSubtitleLeft i{
    font-size: 1.5rem;
}

.imageSubtitleLeft p{
    padding-left: 0.4rem;
}

.imageSubtitleLeft span{
    padding-left: 0.8rem;
    color: #FD5056;
}

.imageSubtitleRight{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
}

.imageSubtitleRight i{
    padding-left: 0.6rem;
}

.tourTitle{
    font-size: 1.5rem;
    width: 100%;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid #E8E7EC;
}

.tourInfo{
    display: flex;
    flex-direction: row;
    padding-top: 1.2rem;
    font-size: 1.1rem;
    justify-content: space-around;
    align-items: center;
}

.tourInfoDetail{
    display: flex;
    flex-direction: column;
}

.tourInfoDetail p{
    padding-bottom: 0.5rem;
}

.tourInfoDetail h6{
    font-size: 1.1rem;
}

.tourInfoDetail span{
    color: #FD5056;
    font-weight: 700;
}

.tourInfoDetail div{
    display: flex;
    flex-direction: row;
}

.tourInfoDetail div span, .tourInfoDetail div h6{
    padding-right: 0.3rem;
}

.tourOverview{
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.tourOverview h2{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.tourOverview p{
    line-height: 1.5rem;
    text-align: justify;
    font-size: 1.05rem;
}

.map h2{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.map{
    padding-bottom: 1.5rem;
}

.averageReviewsTitle{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.averageReviews{
    background-color: #F7F8FA;
}

.averageReviewsBox{
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.averageReviewsSquare{
    width: 25%;
    height: 250px;
    background-color: #FD5056;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.averageReviewsSquare h2{
    font-size: 5rem;
    color: #fff;
    padding-bottom: 0.7rem;
}

.averageReviewsSquare p{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #fff;
}

.averageReviewsSquare i{
    padding-right: 0.3rem;
}

.averageReviewsNumbers{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.averageReviewsNumbersColumn{
    display: flex;
    flex-direction: column;
}

.reviewCategory{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.reviewCategory p{
    font-size: 1.1rem;
    padding-bottom: 0.4rem;
}

.reviewCategory div{
    height: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    position: relative;
    justify-content: flex-start;
}

.reviewCategory div p{
    padding-left: 1rem;
    font-size: 1.1rem;
}

.bar1,.bar2,.bar3,.bar4,.bar5{
    position: absolute;
    width: 20%;
    height: 100%; 
    z-index: 1; 
    background-color: #FD5056;
    width: 40px;
}

.showReview{
    padding-top: 1.5rem;
}

.showReview h2{
    font-size: 1.3rem;
}

.review{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #E8E7EC;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
}

.reviewPhoto{
    height: 200px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.reviewPhoto div{
    border: 1px solid #000;
    border-radius: 30%;
    padding: 2rem;
}

.reviewDate{
    padding-bottom: 0.6rem;
}

.reviewInfo{
    display: flex;
    flex-direction: column;
    width: 75%;
}
    
.reviewInfo h2{
    padding-bottom: 0.5rem;
}

.reviewInfo p {
    overflow-wrap: break-word;
}

.gradeReviewNumber{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
}

.gradeReviewNumber div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
    color: #fff;
    background-color: #FD5056;
    padding: 0.3rem;
    border-radius: 6px;
    font-size: 0.9rem;
}

.gradeReviewNumber div i{
    padding-right: 0.2rem;
    display: flex;
    align-items: center;
}

.addReview{
    background-color: #F7F8FA;
    padding: 2rem;
    margin-bottom: 3rem;
}

.addReview h2{
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.reviewRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.reviewColumn{
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
    width: 20%;
    align-items: center;
}

.reviewColumn p{
    padding-bottom: 0.5rem;
}

.stars{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.stars input{
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    margin-right: 0.4rem;
    color: #FD5056;
    background-color: #F7F8FA;
    border: 1px solid #000;
    width: 100%;
    text-align: center;
    border-radius: 6px;
}

.formReview{
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
}

.formRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.formRow input{
    width: 48%;
    height: 3rem;
    padding-left: 1rem;
    font-size: 1rem;
    border: none;
}

.reviewComment{
    padding-top: 1rem;
}

.reviewComment textarea{
    width: 100%;
    height: 7rem;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    resize: none;
}

.reviewButton{
    padding-top: 1rem;
}

.reviewButton button{
    border: none;
    background-color: #FD5056;
    color: #fff;
    padding: 1rem 1.2rem 1rem 1.2rem;
    border-radius: 6px;
    cursor: pointer;
}

.reviewButton button:hover{
    background-color: #dd484d;

}

.slider{
    padding-top: 2rem;
    padding-bottom: 4rem;
}
